<div class="panel panel-info">
    <div class="panel-heading">
        评论列表
    </div>
    <div class="panel-body">
        <% @comments.each do |comment| %>
        <div class="panel panel-default">
            <div class="panel-body">
                <%= comment.content%>
            </div>
            <div class="panel-footer">
              <% if comment.status == false %>
              <%= form_for :comment, url: post_comment_path(comment.post_id,comment), method: :put do |f|%>
              <span>发表于<%= comment.created_at.strftime("%Y-%m-%d")%>
                  | email:<%= comment.email %>|
                  <div class="pull-right">
                    <input type="submit" name="name" value="审核通过" class="btn btn-success">
                    <div class="btn btn-warning">
                      <%= link_to '删除', post_comment_path(comment.post_id,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                </span>

          <%end
             else%>
              <span>发表于<%= comment.created_at.strftime("%Y-%m-%d")%>
                  | email:<%= comment.email %>
                  <div class="btn btn-warning pull-right">
                    <%= link_to '删除', post_comment_path(comment.post_id,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
              </span>
              <%end%>
            </div>
        </div>
        <%= will_paginate @comments %>
        <% end %>
    </div>
</div>
