
<div class="text-warning text-center">
  <%= notice %>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        文章列表
    </div>
    <div class="panel-body">
        <% @posts.each do |post| %>
        <blockquote cite="/posts">
            <a href="/welcome/posts/<%=post.id%>">
                <p><%= post.title%></p>
            </a>
            <span>
              <small>
                发表于<%= post.created_at.strftime("%Y-%m-%d")%>
                |分类:<%= post.categories[0].title %>
                |评论数<%= post.comments.select{|e| e.status == true }.length%>
              </small>
            </span>
        </blockquote>
        <% end %>
    </div>
    <div class="apple_pagination">
      <%= will_paginate @posts %>
    </div>
</div>
