<!DOCTYPE html>
<html>
<head>
  <title>留言展示</title>
</head>

<body>
  <form action="/" method="post" >
    <br>筛选条件:
    id:<input type="text" name="id" >
    author:<input type="text" name="author">
    <input type="submit" value="提交">
  </form>

  <table border="3">
    <th>ID</th>
    <th>Message</th>
    <th>Author</th>
    <th>Date</th>
    <th>Delete</th>
    <th>Edit</th>

    <% @mess.each do |i| %>
    <tr>
     <td><%= i.id%></td>
     <td><p><%= i.message%></p></td>
     <td><%= i.author%></td>
     <td><%= i.craete_at%></td>
     <td>
       <form action="/delete/<%= i.id %>" method="post">
         <input type="submit" value="删除">
       </form>
     </td>
     <td>
       <form action="/edit/<%= i.id %>" method="post">
         <input type="submit" value="编辑">
       </form>
     </td>
   </tr>
   <% end %>
  </table>
  <a href="/add">新建留言</a>
</body>

</html>
