
<div class="text-warning text-center">
  <%= notice %>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        文章列表
    </div>
    <div class="panel-body">
        <% @posts.each do |post| %>
        <blockquote cite="/posts">
            <a href="/posts/<%=post.id%>">
                <p><%= post.title%></p>
            </a>
            <span>
              <small>发表于<%= post.created_at.strftime("%Y-%m-%d")%>|分类:<%= post.categories[0].title %>|评论数<%= post.comments.length%></small>
              <div class="pull-right">
                <div class="btn btn-info">
                  <%= link_to '编辑', edit_post_path(post) %>
                </div>
                <div class="btn btn-warning">
                  <%= link_to '删除', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </span>
        </blockquote>
        <% end %>
    </div>
    <div class="apple_pagination">
      <%= will_paginate @posts %>
    </div>
</div>
